{% extends 'base.html.twig' %}

{% block title %}Films List{% endblock %}

{% block body %}
    <p><br/></p>
    <h1>Welcome to the tiniest movie library...</h1>
    <p>Help us to become the biggest movie library !</p>
    <p>Choose in the menu the tab "All Movies" to see all the movies we have already listed.</p>
    <p>To search up a movie go to the tab "Search a Movie"</p>
    <p>And to add a new film go to the tab "Add or Update a Movie"</p> 
    <p>Thanks for your visit or/and your participation !</p>
{% endblock %}
